<div class="card">
    <div class="card-head">Crear</div>
    <div class="card-body">
        <form autocomplete="off" class="space-y-4" [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>

            <div class="relative">
                <input type="text" id="floating_outlined"
                    class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-1 border-gray-300 focus:outline-none focus:ring-1 focus:border-indigo-600 focus:ring-indigo-600 peer"
                    formControlName="Estudiante" required placeholder=" " />
                <label for="floating_outlined"
                    class="absolute text-sm text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-indigo-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1 cursor-text">Estudiante</label>
            </div>

            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                <div class="relative">
                    <input type="text" id="floating_outlined"
                        class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-1 border-gray-300 focus:outline-none focus:ring-1 focus:border-indigo-600 focus:ring-indigo-600 peer"
                        formControlName="Asignatura" required placeholder=" " />
                    <label for="floating_outlined"
                        class="absolute text-sm text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-indigo-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1 cursor-text">Asignatura</label>
                </div>

                <div class="relative">
                    <input type="number" id="floating_outlined"
                        class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-1 border-gray-300 focus:outline-none focus:ring-1 focus:border-indigo-600 focus:ring-indigo-600 peer"
                        formControlName="Nota" required placeholder=" " />
                    <label for="floating_outlined"
                        class="absolute text-sm text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-indigo-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1 cursor-text">Nota</label>
                </div>

            </div>

            <div class="mt-4 flex justify-end">
                <button routerLink="/qualifications/show"
                    class="cursor-pointer inline-flex w-full items-center justify-center rounded-lg bg-indigo-800 px-5 py-2.5 text-white sm:w-auto mr-2">
                    <span class="font-medium"> Volver</span>

                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back-up ml-1 h-6 w-6"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M9 13l-4 -4l4 -4m-4 4h11a4 4 0 0 1 0 8h-1"></path>
                    </svg>
                </button>
                <button [disabled]="!postForm.valid" type="submit"
                    class="cursor-pointer inline-flex w-full items-center justify-center rounded-lg bg-green-800 px-5 py-2.5 text-white sm:w-auto">
                    <span class="font-medium"> Guardar </span>

                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler ml-1 h-6 w-6 icon-tabler-device-floppy" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"></path>
                        <circle cx="12" cy="14" r="2"></circle>
                        <polyline points="14 4 14 8 8 8 8 4"></polyline>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>